
#clockContainer{
    position: relative;
    border: 2px solid red;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 30%;
    width: 1.5%;
    top: 20%;
    left: 49.25%;
    opacity: 0.8;
    
    background-color: rgb(0, 0, 0);
}
#minute{
    height: 32%;
    width: 1%;
    top: 18%;
    left: 49%;
    opacity: 0.8;
    background-color: green;
    
}
#second{
    height: 39%;
    width: 1%;
    top: 11%;
    left: 49.2%;
    opacity: 0.8;
    background-color: red;
}

.indicator{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    position: relative;
    top: -500px;
    left: 30px;
}
.red{
    background-color: red;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.black{
    background-color: rgb(0, 0, 0);
    color: white;
}